*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	padding-top: 82.5px;
}
.user_id::after{
	content: "님";
}
.list_background {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.title {
	width: 100%;
}

.title h3 {
	margin-top: 10px;
	margin-left: 5%;
}

#header nav ul li:nth-of-type(4) {
	width: 210px;
	overflow: hidden;
}

#header nav ul li:nth-of-type(4):hover {
	height: 247.5px;
}

#header nav ul li:nth-of-type(4):hover #login_id {
	color: #333;
}

#login_id {
	width: 120px;
	height: 90px;
	margin-left: 20px;
	color: #333;
	text-align: center;
	transition-duration: 0.7s;
}

#header nav{
	right: -7em;
}

#nav ul{
    height: 82.5px;
}

#nav ul li{
	height: 82.5px;
	display: block;
	float: left;
}
.basket-wrap{
    height: auto;
}

.basket-wrap > h3{
    margin-top: 10px;
    margin-left: 5%;
}

.goods{
    width: 90%;
    height: 250px;
    margin-bottom: 30px;
    border: 1px solid #000;
    position: relative;
    left: 50%;
    margin-left: -45%;
}

.goods-img{
    height: 100%;
    margin-left: 20px;
    float: left;
    margin-right: 10px;
}

.goods-img img{
    height: 100%;
}

.goods-content{
	width: 500px;
    margin-top: 15px;
    float: left;
    margin-right: 10px;
}

.delete_button{
    float: right;
}

.goods-content h3{
	margin-bottom: 5px;
}

.goods-content p{
	text-align: left;
	margin-bottom: 5px;
}

.total-price{
    width: 90%;
    position: relative;
    left: 50%;
    margin-left: -45%;
    font-size: 30px;
    text-align: right;
    margin-top: 5%;
    margin-bottom: 1%;
}

.buttons{
    width: 90%;
    height: 47px;
    position: relative;
    left: 50%;
    margin-left: -45%;
}

.button{
    float: right;
    margin-left: 20px;
}

.button a{
    color: #fff;
    text-decoration: none;
}

